.navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  
  .sign-in-container {
    flex: 0;
  }
  
  .sign-in-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  /* Add any additional styles as needed */
  